/*
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Bitter', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Bitter|Yanone+Kaffeesatz');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-size: 5em;
}
p{
  font-style: italic;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.word{
  background-color: black;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  text-align: center; 
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.09em;
  padding-bottom: 0.09em;
}